.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
   
    background-size: cover;
}

.carousel-caption {
    bottom: 300px;
}

    .carousel-caption h5 {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
        font-family: Arial;
    }

    .carousel-caption p {
        width: 70%;
        margin: auto;
        font-size: 40px;
        line-height: 1.9;
        font-family: Calibri;
    }

    .carousel-caption a {
        text-transform: uppercase;
        background: #262626;
        padding: 5px 30px;
        display: inline-block;
        color: #fff;
        margin-top: 10px;
    }

