<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="connect" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=contactus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="icecreamshopConnectionString" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=icecreamshop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="icecreamshop1ConnectionString" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=icecreamshop1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="icecreamshop2ConnectionString" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=icecreamshop2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="icecreamshop3ConnectionString" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=icecreamshop3;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="icecreamshop3ConnectionString2" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=icecreamshop3;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="tubshop4ConnectionString" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=tubshop4;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="candiesshopConnectionString" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=candiesshop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="candiesshopConnectionString2" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=candiesshop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="special8ConnectionString" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=special8;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="specialshopConnectionString" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=specialshop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="slabshopConnectionString" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=slabshop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="familyshopConnectionString" connectionString="Data Source=DESKTOP-DRU27SS;Initial Catalog=familyshop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
